<ion-view view-title="Event">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-ios-flask-outline"></button>
    </ion-nav-buttons>

    <ion-content>

             <div class="card core-panel">

            <div class="row">

                <div class="col-66">
                    <videogular class="video-container" vg-theme="config.theme">
                        <vg-media vg-src="config.sources"
                                  vg-tracks="config.tracks">
                        </vg-media>

                        <vg-controls>
                            <vg-play-pause-button></vg-play-pause-button>

                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                            </vg-scrub-bar>
                            <!--<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>-->
                            <!--<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>-->

                            <vg-fullscreen-button></vg-fullscreen-button>
                        </vg-controls>

                    </videogular>

                </div>
                <div class="col">

                    <div class="video-timer">

                        <i class="icon ion-ios-timer-outline"><h4>00:17 / 01:27</h4></i>


                    </div>
                    <div class="list card list-inset">
                        <a class="item item-icon-left item-icon-right">
                            <i class="icon ion-ios-eye"></i>
                            Analyse
                            <i class="icon ion-chevron-right icon-accessory"></i>

                        </a>

                        <div class="item item-icon-left item-icon-right time-stepper">

                            <a class="button button-icon icon ion-ios-rewind"></a>
                            +/- 1 Second
                            <a class="button button-icon icon ion-ios-fastforward"></a>

                        </div>
                    </div>


                    <!--<div class="list card list-inset">-->


                    <!--&lt;!&ndash;<div class="range">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="icon ion-volume-low"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="range" name="volume">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="icon ion-volume-high"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->

                    <div class="list card list-inset">


                        <a class="item item-icon-left item-icon-right">
                            <i class="icon ion-ios-bookmarks"></i>
                            +Bookmark
                            <i class="icon ion-chevron-right icon-accessory"></i>

                        </a>
                    </div>


                </div>
            </div>

        </div>

        <!--<div class="button" ui-sref="app.event-detail({eventId:1})">State Change</div>-->
        <div class="row row-center">

            <div class="col col-50 col-offset-25">
                <div class="button-bar">
                    <a class="button button-small" ui-sref="app.event-detail({eventId:1})">Features</a>
                    <a class="button button-small">Quality</a>
                    <a class="button button-small">3d</a>
                </div>
            </div>

        </div>


    </ion-content>

    <div class="row">

        <div class="col">
            <ion-content class="below" scroll="true" has-bouncing="true">

                <div class="row">

                    <div class="col-50">

                        <div class="list">
                            <a class="item item-avatar item-icon-left item-icon-right"
                               ng-repeat="item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
                                <i class="icon ion-ios-checkmark-empty"></i>

                                <h2>Feature {{item}}</h2>

                                <p>Feature metadata</p>
                                <i class="icon ion-chevron-right icon-accessory"></i>

                            </a>

                        </div>
                    </div>
                    <div class="col-50">
                        <ion-scroll direction="xy" zooming="true" has-bouncing="true" >
                            <img ng-src="../img/keyframe.png">
                        </ion-scroll>

                        <!--<ion-scroll zooming="true" min-zoom="0.5" direction="xy" style="width: 500px; height: 500px">-->
                        <!--<div style="width: 5000px; height: 5000px; background: url('https://upload.wikimedia.org/wikipedia/commons/a/ad/Europe_geological_map-en.jpg') repeat"></div>-->
                        <!--</ion-scroll>-->


                    </div>
                </div>

            </ion-content>


        </div>
        <div class="col">


        </div>
    </div>

</ion-view>
